.cardInfo{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    background-color: #00000050;
    border-radius: .5em;
    padding: .1.5 em   .75em;
    color:#fff;
    text-align: center;
 box-shadow: 5px 5px 10px #00000000;
  margin-bottom: .3em;

}

.cardInfo-title {
    color: var (--text)
    margin-bottom .5em;
}
.cardInfo-container {
    display: grid;
    grid-template-columns: repeat(3,4fr);
    font-size: 13px

}
.cardInfo_item{
    width: 100%;
}
.cardInfo_item data{
    color:#ffffff60;
    
} 
