.search {
    max-width: 350;
    width: 100%;
    border: 1 px solid;
    margin: 2.5em  auto 2em;
    display: grid;
    grid-template-columns: 1fr.5fr;
}
.search input{
    border: none;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
    padding: .5em  .75em;
    outline: none;
    width: 100;
}
.search_btn{
    border: none;
    background-color:   #fff;
    background-color: #35e628;
    border-radius: 0px 8 8 0px;
    padding: .5em  .75em;
    font-size: .1.1rem;
    outline: none;
}
.message_error{
    color: red;
   margin-bottom: 2em;
   

}
